body{
    background-color: rgb(8, 159, 159);
    font-size: 20px;
color:white;
}
#width1{
    width: 19%;
    padding: 10px;
    border-radius: 10px;
}#width2{
    width: 40%;
    padding: 10px;
    border-radius: 10px;}
#width3{
    width: 8%;
    padding: 10px;
    border-radius: 10px;}
div{
    width:100%;
    margin-left:30%;
}
fieldset
{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
border-color: white;
  }
legend{
    
    font-size: 30px;
}